.row {
    display: flex;
    flex-direction: row;

    &.--center {
        align-items: center;
    }
}

.col {
    flex: 0 0 auto;

    @for $i from 1 through 12 {
        &.--#{$i} {
            flex: $i;
        }
    }
}
