@import "../utils/variables";

@each $name, $spacing in $spacings {
    .gap-v-#{$name} {
        & > :not(:last-child) {
            margin-bottom: $spacing;
        }
    }
    .gap-h-#{$name} {
        & > :not(:last-child) {
            margin-right: $spacing;
        }
    }
}

@each $name, $spacing in $spacings {
    .prefix-#{$name} {
        margin-right: $spacing;
    }
}
