@import "../utils/variables";

body {
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    margin: 1.5rem 0;
    font-size: 2rem;
    font-weight: bold;
    color: $primaryTitle;
}

h2 {
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: bold;
    color: $primaryHighEmphasis;
    text-transform: uppercase;
}

small {
    font-size: 0.8rem;
    font-weight: bold;
    text-transform: uppercase;
}

.warning {
    color: $warningTitle;
}
