@import "../utils/variables";

.anime {
    &__sidebar {
        margin-right: 2rem;
    }

    &__cover {
        margin-bottom: 1.5rem;
        width: 100%;
    }

    &__synonym {
        text-align: center;

        &:not(:last-child) {
            margin-bottom: 0.5rem;
        }
    }

    &__synopsis {
        color: $primaryHighEmphasis;

        &.--collapsed &-text {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    }
}
