.github
.gitignore
.gitattributes

.editorconfig
.vscode

*.md
LICENSE

docker-compose*.yml
Dockerfile*
docker-data

.env
.env.*
!.env.example

storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*

vendor