/.phpunit.cache
/node_modules
/public/hot
/public/storage
/public/build
/public/audios
/public/images
/public/videos
/public/dumps
/public/scripts
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.fleet
.vscode
.idea
auth.json
*.sqlite
*.sqlite3
public/css/app.css
public/js/app.js
test.php