includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    checkModelProperties: true
    checkOctaneCompatibility: true
    checkMissingIterableValueType: false

    paths:
        - app
        - config
        - database
        - routes
        - tests

    # The level 8 is the highest level
    level: 5

    ignoreErrors:
        - '#Call to an undefined method ElasticScoutDriverPlus\\Builders\\SearchRequestBuilder::\w+\(\)#'
        - '#Call to an undefined method Mockery\\ExpectationInterface|Mockery\\HigherOrderMessage::once\(\).#'
