includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    treatPhpDocTypesAsCertain: false
    checkModelProperties: true
    checkOctaneCompatibility: true
    reportUnmatchedIgnoredErrors: false

    paths:
        - app
        - config
        - database
        - elastic
        - routes
        - tests

    # The level 9 is the highest level
    level: 5

    stubFiles:
        - vendor/nuwave/lighthouse/_ide_helper.php

    ignoreErrors:
        -
            identifier: missingType.iterableValue
        -
            identifier: varTag.nativeType
        -
            identifier: method.childReturnType
        - '#Call to an undefined method Mockery\\ExpectationInterface|Mockery\\HigherOrderMessage::once\(\).#'
        - '#Call to an undefined method Database\\Factories.*::trashed\(\).#'
        - '#::mapWithKeys\(\) expects*non-empty-array<int\|string, string> given.#'
        - '#Access to an undefined property App\\Models\\Wiki\\Artist::\$pivot.#'
        - '#Call to method assertActionMounted\(\) on an unknown class static.#'
        - '#Call to method assertTableActionMounted\(\) on an unknown class static.#'
