includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    checkModelProperties: true
    checkOctaneCompatibility: true

    paths:
        - app
        - config
        - database
        - routes
        - tests

    # The level 8 is the highest level
    level: 5

    ignoreErrors:
        - '#Call to an undefined method ElasticScoutDriverPlus\\Builders\\SearchRequestBuilder::\w+\(\)#'
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Factories\\Factory::jsonApiResource\(\).#'
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Factories\\Factory::withCurrentTeam\(\).#'
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Factories\\Factory::withPersonalTeam\(\).#'
        -
            message: '#Unreachable statement - code above always terminates.#'
            path: app/Http/Middleware/ThrottleRequestsWithService.php

    excludes_analyse:

    checkMissingIterableValueType: false
