@import "../utils/variables";

.badge {
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 5px 1rem;
    border-left: 4px solid $secondaryTitle;
    border-radius: 0 1rem 1rem 0;

    background-color: elevate($primaryBackground, 2);

    &.--hoverable {
        cursor: pointer;

        &:hover {
            background-color: elevate($primaryBackground, 3);
        }
    }
}
