@import "../utils/variables";

.navigation {
    background-color: elevate($primaryBackground, 2);

    &__container {
        display: flex;
        flex-direction: row;
        align-items: stretch;
    }

    &__tab {
        display: flex;
        align-items: center;

        padding: 0.5rem 0;

        &:not(:last-child) {
            margin-right: 1.5rem;
        }

        &.--link {
            color: $primaryMediumEmphasis;

            &:hover {
                padding-bottom: calc(0.5rem - 2px);
                color: $primaryHighEmphasis;
                border-bottom: 2px solid $primaryHighEmphasis;
            }
        }
    }

    &__logo {
        margin: 0 auto 0 0;
        padding: 0.5rem 0;

        font-size: 2rem;
        font-weight: bold;
        color: $primaryTitle;
    }
}
