@import "../utils/variables";
@import "../utils/mixins";

@include theme(
    $themeName: "dark",
    $colorMap: (
        $primaryBackground:     hsl(0, 0, 7),
        $primaryTitle:          hsl(0, 0, 100),
        $primaryHighEmphasis:   hsla(0, 0, 100, 0.87),
        $primaryMediumEmphasis: hsla(0, 0, 100, 0.6),
        $primaryLowEmphasis:    hsla(0, 0, 100, 0.38),

        $secondaryBackground:   rgb(128, 203, 196),
        $secondaryTitle:        rgb(128, 203, 196),

        $warningTitle:          rgb(207, 102, 121),

        elevate($primaryBackground):    hsl(0, 0, 14),
        elevate($primaryBackground, 2): hsl(0, 0, 21),
        elevate($primaryBackground, 3): hsl(0, 0, 28)
    )
);
