@import "../utils/variables";
@import "../utils/mixins";

@include theme(
    $themeName: "light",
    $colorMap: (
        $primaryBackground:     hsl(0, 0, 100),
        $primaryTitle:          hsl(0, 0, 0),
        $primaryHighEmphasis:   hsla(0, 0, 0, 0.87),
        $primaryMediumEmphasis: hsla(0, 0, 0, 0.6),
        $primaryLowEmphasis:    hsla(0, 0, 0, 0.38),

        $secondaryBackground:   rgb(0, 137, 123),
        $secondaryTitle:        rgb(0, 137, 123),

        $warningTitle:          rgb(176, 0, 32),

        elevate($primaryBackground):    hsl(0, 0, 93),
        elevate($primaryBackground, 2): hsl(0, 0, 86),
        elevate($primaryBackground, 3): hsl(0, 0, 79)
    ),
    $default: true
);
